<!-- 一个应用程序中的模块可继承另一个应用程序中的模板 -->
{% extends 'learning_logs/base_bs.html' %}
{% load django_bootstrap5 %}

{% block page_header%}
<h2>Log in to your account.</h2>
{% endblock page_header%}

{% block content %}
    <!-- {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %} -->
    <form action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}
        {%bootstrap_form form%}
        {%bootstrap_button button_type="submit" content="Log in"%}
        <!-- {{form.as_div}} -->
        <!-- <button name="submit">Log in</button> -->
    </form>
{% endblock content %}

