<p>
    <!-- 表示跳转到 learning_logs/urls.py中定义的名为index的URL -->
     <!-- learning_logs是一个命名空间，这个命名空间来自文件 learning_logs/urls.py中定义的app_name -->
    <a href="{% url 'learning_logs:index' %}">Learning Log</a> -
    <a href="{% url 'learning_logs:topics' %}">Topics</a> - 
    <!-- django中的身份验证系统中定义了user及其属性 -->
    {% if user.is_authenticated %}
        Hello, {{user.username}}.
        <div style="position: absolute;top: 5px;left: 280px;">
            <!-- 为防止恶意注销他人账户，要采用表单方式注销，并提交模板标签csrf_token防止跨站恶意请求 -->
            <form action="{% url 'accounts:logout' %}" method="post">
                <!-- 这一行会被渲染成 <input type="hidden" name="csrfmiddleware.csrf_token" value="ABCDEF1234567890XYZ">  -->
                {% csrf_token %}
                <button name="submit">Log out</button>
            </form>
        </div>
    {% else %}
        <a href="{% url 'accounts:register' %}">Register</a> | 
        <a href="{% url 'accounts:login' %}">Log in</a>
    {% endif %}
</p>
{% block content %}
<span>
    这是模板文件通用内容
</span>
{% endblock content %}
