{% extends 'learning_logs/base_bs.html' %}
{%block page_header%}
<h1>Topics</h1>
{%endblock page_header%}

{% block content %}
<ul class="list-group border-bottom pb-2 mb-4">
    {% for topic in topics %}
        <li class="list-group-item border-0">
            <!-- 使用模板标签url根据learning_logs中名为topic的URL pattern生成合适的链接 -->
            <a href="{% url 'learning_logs:topic' topic.id %}">{{topic.text}}</a>
        </li>
    {% empty %}
        <li class="list-group-item border-0">No topics have been added yet.</li>
    {% endfor %}
</ul><!-- 初始跳转链接和提交表单链接都是 new_topic，所以views中的new_topic方法接收的入参可能为空 -->
<a href="{% url 'learning_logs:new_topic' %}" class="btn btn-warning">Create new topic</a>
{% endblock content%}
